/*----------------top-banner---------------*/
.top-banner{ 
	background-image: url(../img/lector-image.png); 
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 0 0 20px 0;

	@media (max-width: 768px){
		background-size: 175%;
		box-shadow: 0px 50px 14px 0px $main-black;
		padding: 0 0 0 0; 
	}

	&__container{
		min-height: 935px;  
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1200px){
			min-height: 900px;
		}

		@media (max-width: 768px){
			min-height: 870px;
		}

		@media (max-width: 710px){
			min-height: 830px;
		}

		@media (max-width: 560px){
			min-height: 750px;
		}

		@media (max-width: 520px){
			min-height: 715px;
		}

		@media (max-width: 460px){
			min-height: 665px;
		}

		@media (max-width: 390px){
			min-height: 600px;
			height: 100vh;
		}
	}

	&__content{
		display: flex;
		flex-direction: column;
		align-items: center; 
		padding-top: 100px;
		position: relative;
		z-index: 1;

		@media (max-width: 990px){
			padding-top: 100px;
		}

		@media (max-width: 640px){
			padding-top: 80px;
		}
	}

	&__title{
		font-family: 'Stolzl Display';
		font-weight: 500;
		font-size: 70px;
		line-height: 0.95;
		text-align: center;
		background: linear-gradient(90.31deg, #FFFFFF 37.15%, $accent-color 89.09%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		margin: 0 0 20px 0;

		@media (max-width: 990px){
			font-size: 53px;
		}

		@media (max-width: 768px){
			font-size: 44px;
		}

		@media (max-width: 640px){
			max-width: 320px;
			font-size: 38px;
		}
	}

	&__subtitle{
		max-width: 730px;
		font-weight: 500;
		font-size: 21px;
		line-height: 1.6;
		text-align: center;

		@media (max-width: 990px){
			max-width: 615px;
			font-size: 18px;
		}

		@media (max-width: 768px){
			max-width: 550px;
			font-size: 16px;
		}

		@media (max-width: 640px){
			max-width: 300px;
			font-size: 15px;
		}
	}
}

.lector-label{
	width: 255px;
	margin-left: 330px;

	@media (max-width: 768px){
		width: 212px;
		margin-left: 270px;
	}

	@media (max-width: 640px){
		margin-left: 200px;
	}

	@media (max-width: 560px){
		width: 160px;
		margin-left: 0;
	}

	@media (max-width: 460px){
		margin-bottom: -20px;
	}

	&__name{
		width: 203px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 3px;
		background: linear-gradient(114.99deg, 
		rgba(255, 255, 255, 0.2) 17.34%, 
		rgba(255, 255, 255, 0) 101.03%), $accent-color;
		transform: skewX(-10deg);
		margin-left: auto;
		position: relative;
		z-index: 5;

		@media (max-width: 768px){
			width: 170px;
			height: 35px;
		}

		@media (max-width: 560px){
			width: 125px;
			height: 25px;
		}

		&-text{
			display: inline-block;
			font-size: 29px;
			line-height: 0.9;
			text-align: center;
			transform: skewX(10deg);

			@media (max-width: 768px){
				font-size: 22px;
			}

			@media (max-width: 560px){
				font-size: 18px;
			}
		}
	}

	&__position{
		width: 245px;
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 3px;
		background-color: #FFFFFF;
		transform: skewX(-10deg);
		padding-right: 20px;
		margin-top: -3px;
		position: relative;
		z-index: 4;

		@media (max-width: 768px){
			width: 200px;
			height: 43px;
			padding-right: 10px;
		}

		@media (max-width: 560px){
			width: 150px;
			height: 30px;
			padding-right: 5px;
		}

		&-text{
			display: inline-block;
			font-size: 20px;
			line-height: 1;
			text-align: right;
			color: $main-black;
			transform: skewX(10deg);

			@media (max-width: 768px){
				font-size: 16px;
			}

			@media (max-width: 560px){
				font-size: 13px;
			}
		}
	}
}